#bio {
    background-color: #064e91;
    color: white;
}

.first-container {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-left: 250px;
}

#name {
    font-size: 80px;
    font-weight: bolder;
}

.icons {
    padding: 20px 0px
}

.icons a {
    padding-right: 10px;
}

.img-container {
    padding-left: 10vw;
}

.support {
    padding-left: 250px;
    padding-top: 1vw;
    width: 800px
}

#para {
    font-size: 25px
}

.support-btn {
    margin: 100px 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #f22929;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
}

.second-container {
    padding-left: 250px;
}

.second-title {
    font-size: 60px;
    padding: 20px 0px;
    font-weight: bolder;
}

video {
    width: 800px;
}

.second-support {
    padding-top: 1vw;
    width: 800px
}

.video-text {
    font-size: 25px;
    padding: 30px 0px;
}

@media(min-width:1600px) {
    .support {
        min-width: 1200px
    }
}

@media(max-width:1023px) {
    video {
        width: 400px;
    }
    #name {
        font-size: 60px;
    }
    .support {
        width: 60vw;
    }
    #para {
        width: 60vw;
        font-size: 20px;
    }
    .second-title {
        font-size: 40px;
    }
    .video-text {
        font-size: 20px
    }
    .second-support {
        width: 60vw;
    }
    .img-container {
        padding-right: 2vw;
    }
}

@media(max-width:767px) {
    #bio {
        width: 100vw;
    }
    .first-container {
        flex-direction: column-reverse;
    }
    .first-container,
    .support,
    .second-container,
    .img-container {
        padding-left: 20px;
    }
    .support,
    .second-support {
        width: 90vw;
    }
    .img-container {
        padding: 0;
        align-self: flex-start;
    }
    video {
        width: 80vw;
    }
    .text-container {
        align-self: flex-start;
    }
    #name {
        font-size: 50px;
    }
}