#bio {
    background-color: #3359f2;
    color: white;
}

.first-container {
    display: flex;
    align-items: center;
    padding-top: 100px;
    padding-left: 20vw;
}

#name {
    font-size: 80px;
    font-weight: bolder;
}

.icons {
    padding: 20px 0px
}

.icons a {
    padding-right: 10px;
}

.img-container {
    padding-left: 10vw;
}

.support {
    padding-left: 20vw;
    padding-top: 1vw;
    width: 800px
}

#para {
    font-size: 25px
}

.support-btn {
    margin: 100px 0px;
    padding: 10px;
    font-size: 20px;
    background-color: #f22929;
    color: white;
    font-weight: bolder;
    border-radius: 10px;
    cursor: pointer;
}

.second-container {
    padding-left: 20vw;
}

.second-title {
    font-size: 60px;
    padding: 20px 0px;
}

video {
    width: 800px;
}

.second-support {
    padding-top: 1vw;
    width: 800px
}

.video-text {
    font-size: 25px;
    padding: 30px 0px;
}

@media(max-width:1023px) {
    video {
        width: 400px;
    }
}