.work {
    background: #fff;
}

.work-container {
    padding-left: 20vw;
    padding-top: 15vh;
    padding-bottom: 15vh;
    min-height: 100vh;
}

.title1 {
    font-weight: bolder;
    font-size: 80px;
    padding-bottom: 30px;
    padding-top: 10px;
    color: var(--blue)
}

.active_link {
    background-color: var(--blue);
    border-radius: 10px;
    color: white;
}

.work_sublinks {
    width: 100%;
    margin: 0px auto;
}

.work_sublinks nav {
    width: fit-content;
}

.work_sublinks nav ul {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.work_sublinks nav ul li {
    text-decoration: none;
    list-style: none;
}

.work_sublinks nav ul li a {
    width: fit-content;
    min-height: 30px;
    color: rgb(214, 45, 39);
    font-size: 25px;
    font-weight: bold;
}

.work_sublinks nav ul li a:focus {
    color: white;
}

.sublinks_underline {
    width: 100%;
    height: 2px;
    background: rgb(238, 238, 238);
    margin-top: 10px;
}

.activeclass_underline {
    width: 75px;
    height: 2px;
    /* background-color: #0063ff; */
    transition: 0.3s ease-in-out;
}


/* Blogs Styling */

.blogs {
    width: 100%;
    margin: 0px auto;
    height: fit-content;
}

.blogs_container {
    width: 100%;
    height: fit-content;
    border-radius: 10px;
    display: flex;
    flex-flow: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

@media(max-width:1023px) {
    .title1 {
        font-size: 60px;
    }
}

@media only screen and (max-width:1023px) {
    .work-container {
        padding-left: 26vw;
    }
    .sublinks_underline {
        transform: translateY(0px);
        display: none;
    }
    .work_sublinks nav {
        width: 64vw;
        height: 80px;
        overflow-x: scroll;
        overflow-y: hidden;
    }
    .work_sublinks nav ul li a {
        font-size: 15px;
    }
}

@media(max-width:767px) {
    .work-container {
        padding-left: 20px;
    }
    .work_sublinks nav {
        width: 90vw;
    }
    .title1 {
        font-size: 40px;
    }
    .work_sublinks nav ul li a {
        font-size: 15px;
    }
}