/* Basic styling */

:root {
    /* Colors */
    --black: #09090c;
    --grey: #a4b2bc;
    --white: #fff;
    --background: rgba(137, 171, 245, 0.37);
    --blue: rgb(28, 113, 240);
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* background-color: var(--background); */
    font-family: "Poppins", sans-serif;
}

html {
    overflow-x: hidden;
}

.maineducation {
    background-color: rgb(16, 58, 121);
    padding-left: 150px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.title3 {
    font-weight: bolder;
    font-size: 80px;
    padding-bottom: 30px;
    padding-top: 10px;
    color: white;
}